{#
/**
 * @file agoralocation_location.html.twig
 * Default theme implementation to render a location block.
 *
 * @see template_preprocess_agoralocation_location()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('location-wrapper') }}>
  {% for item in items %}
    <div class="location vcard">
      {% if item.organization or item.title %}
        <span class="fn org"><strong>{{ item.organization ?: item.title }}</strong></span>
      {% endif %}

    <div class="adr">
      {% if item.address_line1 %}
        <div class="street-address">{{ item.address_line1 }}</div>
      {% endif %}
      {% if item.address_line2 %}
        <div class="street-address">{{ item.address_line2 }}</div>
      {% endif %}
      {% if item.postal_code %}
        <span class="postal-code">{{ item.postal_code }}</span>
      {% endif %}
      {% if item.locality %}
        <span class="locality">{{ item.locality }}</span>
      {% endif %}
      {% if item.country_code %}
        <div class="country-name show-for-sr">{{ item.country_code }}</div>
      {% endif %}
    </div>
    
    {% if item.phone %}
      <div class="tel">
        {{ 'Phone'|t }}:<span class="type show-for-sr">voice</span> <span class="value">{{ item.phone }}</span>
      </div>
    {% endif %}
    
    {% if item.fax %}
      <div class="tel">
        {{ 'Fax'|t }}:<span class="type show-for-sr">fax</span> <span class="value">{{ item.fax }}</span>
      </div>
    {% endif %}
    
    {% if item.mail %}
      <div class="email">
        {{ 'E-Mail'|t }}:<span class="type show-for-sr">email</span>
        <span><a href="mailto:{{ item.mail }}">{{ item.mail }}</a></span>
      </div>
    {% endif %}
    
    </div>
  {% endfor %}
</div>
