{#
/**
 * @file embedded-gmap.html.twig
 * Default theme implementation to present an embedded gmap.
 *
 * @see template_preprocess_embedded_gmap()
 *
 * @ingroup themeable
 */
#}
<iframe{{ attributes.addClass('embedded-gmap').setAttribute('width', '100%').setAttribute('height', '400').setAttribute('frameborder', '0')|without('src') }} src="{{ url }}"></iframe>
