{#
/**
 * @file location.html.twig
 * Default theme implementation to present location data.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_location()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass(['location']) }}>
  {{ title_prefix }}
  <div><strong class="location__title">{{ label }}</strong></div>
  {{ title_suffix }}
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
